.tech-footer {
    display: flex;
}

.logo_footer {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    color: var(--main-bg-color);
    text-decoration: none;
}

.color_logo {
    color: #2196F3;
}

.address {
    margin-top: 20px;
}

.address-link {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-bg-color);
}

.footer-nav-item {
    margin-top: 9px;
}

.footer-link {
    font-style: normal;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    &:hover,
        &:focus {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4,
                    0,
                    0.2,
                    1);
            color: var(--accent-color);
        }
}

.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}


.footer-soc-icons {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-soc-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--white-text-color);
    margin-bottom: 20px;
}

.footer-soc-list {
    display: flex;
    gap: 10px;
}

.footer-soc-item {
    width: 44px;
    height: 44px;
}

.footer-soc-link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--white-text-color);
    &:hover,
        &:focus {
            transition-duration: 250ms;
            transition-timing-function: cubic-bezier(0.4,
                    0,
                    0.2,
                    1);
            background-color: var(--accent-color);
            fill: var(--white-text-color);
        }
}
