.content {
    padding-bottom: 94px;
}

.spec-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.spec-wrap {
    position: relative;
}

.spec-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    position: absolute;
    top: 75%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-text-color);
}