/* style benefits */
.content {
    padding-bottom: 117px;
}

.benefits-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.benefits-title {
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-top: 30px;
    margin-bottom: 10px;
}

.benefits-logo {
    background: #F5F4FA;
    border-radius: 4px;
    padding: 25px 100px;
    margin-bottom: 30px;
}

.benefits-text {
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    margin-top: 10px;
    max-width: 270px;
}

.spec-list {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 50px;
}

.spec-wrap {
    position: relative;
}

.spec-text {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto';
    font-style: normal;
    text-transform: uppercase;
    width: 370px;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    position: absolute;
    top: 75%;
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--white-text-color);
}

/* style benefits-icon */
.benefits-icon-list {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.benefits-icon-item {
    width: 270px;
    height: 120px;
}

.benefits-icon-link {
    width: 100%;
    height: 100%;
    background: #F5F4FA;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}